# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs file
.vs/

Demo/NoodlesDemo/x64/
Demo/NoodlesDemo/Debug/
Demo/NoodlesDemo/Release/

Project/Noodles/x64/

# Demo Project File
/NoodlesDemo/Debug
/NoodlesDemo/Release
/NoodlesDemo/x64
/NoodlesDemo/*/Debug
/NoodlesDemo/*/Release
/NoodlesDemo/*/x64

